@import url(./__tool/tools-kit__tool.css);
@import url(./__image/tools-kit__image.css);
@import url(./__tip/tools-kit__tip.css);
.tools-kit {
  position: absolute;
  left: -120px;
  top: 8px;
  display: flex;
  overflow: hidden;
}