@import url(./__tool/tools-kit__tool.css);
@import url(./__image/tools-kit__image.css);
@import url(./__tip/tools-kit__tip.css);
@import url(./__tool/_type/tools-kit__tool_type_relocate.css);
.tools-kit {
  position: absolute;
  left: -150px;
  top: 8px;
  display: flex;
  overflow: hidden;
  padding-right: 50px;
}

@media screen and (max-width: 425px) {
  .tools-kit {
    left: -90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
  }
}
